

<section class="page-header">

  <div class="container">
    <div class="row align-items-center p-5">
      <div class="col-9">
        
        <h3> Recipes <span>item</span></h3>
        <p>You can now add your items that any user can order it from the Application and you can edit </p>

      </div>
      <div class="col-3">
         <div class="text-end">
          <img src="../../../assets/images/menu-avatar.svg" class="w-75" alt="">
         </div>

      </div>
    </div>
  </div>

</section>

<section>
  <div class="container py-4">
    <div class="row py-3">
      <div class="col-md-6">
        <input  [(ngModel)]="searchValue" (keyup)="gettableData()"  type="text" class="form-control "  placeholder="Search here">

      </div>
      <div class="col-md-3">
        <select [(ngModel)]="tagId" (change)="gettableData()" class="form-select" aria-label="Default select example">
          <option selected>All</option>
          <option  *ngFor="let item of tags" [value]="item.id">{{item.name}}</option>
        </select>
        <h2>{{tagId}}</h2>
      </div>
      <div class="col-md-3">
       <button routerLink="/dashboard/admin/recipes/add" class="primary">Add New Recipe</button>
      </div>
    </div>
    
    
    <table class="table table-striped">
      <thead>
        <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Price </th>
        <th>Descrption</th>
        <th>Tag</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>

      </thead>
      <tbody *ngIf="TableData.length>0">
      <tr *ngFor="let item of TableData">
        <td>{{item.name}}</td>
        <td class="w-25"><img [src]="'https://upskilling-egypt.com/' +item.imagePath" class="w-100"> </td>
        <td>{{item.price}}</td>
        <td>{{item.description}}</td>
        <td>{{item.tag.name}}</td>

        <td>
          <ng-container *ngIf="item.category.length>0">
            <span *ngFor="let itemCategory of item.category">    {{itemCategory.name}}  </span>

          </ng-container>
          <span *ngIf="item.category.length==0">
          No Category
          </span>
        </td>
        
       <td class="text-center">
        <div class="dropdown">
          <button class=" dropdown-toggle text-muted" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-ellipsis fa-2x"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a (click)="openDialog(item)" class="dropdown-item" >
              <span><i class="fa-solid fa-eye"></i></span>
              <span>View</span>
            </a>   
            </li>
          
            <li><a class="dropdown-item" >
              <span><i class="fa-regular fa-heart"></i></span>
              <span >Favorite</span>
            </a>   
            </li>
         
          </ul>
        </div>
       </td>

      </tr>
      </tbody>
      <div *ngIf="TableData?.length==0" >
       no Data
      </div>
    </table>
    <div class="bg-info">
  



    </div>
  </div>
</section>