.home{
    background-image: url('../../../assets/images/header-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15px;
    color: #fff;

}
.home-head{
    background-color: #F0FFEF    ;
    background-position: center center;
    
}