<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center">
                <div>
                    <h2>welcome {{userName}}</h2>
                    <p>This is a welcoming screen for the entry of the application , you can now see the options</p>
                </div>

            </div>
            <div class="col-md-4">
                <div>
                    <img src="../../../assets/images/home-avatar.svg" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>
</section>