.home{
    background-image: url('../../../assets/images/header-bg-svg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15px;
    color: #fff;

}