<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center">
                <div>
                    <h2>welcome {{userName}}</h2>
                    <p>This is a welcoming screen for the entry of the application , you can now see the options</p>
                </div>

            </div>
            <div class="col-md-4">
                <div>
                    <img src="../../../assets/images/home-avatar.svg" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>

</section>
<section>
    <h2  class="pt-5">Show the Recipes !</h2>

    <div class=" home-head  p-5 align-items-center d-flex justify-content-between">
        <p>you can now fill the meals easily using the table and form ,
             click here and sill it with the table !</p>
             <button class="btn btn-success">Recipes <i class="fa-solid fa-arrow-right"></i></button>

    </div>
    <div>
    </div>

</section>
