<section id="navbar">
  <div class="container pb-2">
    <div class="row">
      <div class="col-3 ms-auto d-flex justify-content-between align-items-center">

        <div class="d-flex align-items-center">
          <button class="mat-icon-button " (click)="toggleTheme()">
            <mat-icon>{{ isDarkMode ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
          </button>
          <a routerLink="/dashboard/userProfile" class="user-avater">
            <img class="user-avatar " [src]="'https://upskilling-egypt.com/' + currentUser?.imagePath" />
            <img *ngIf="!currentUser?.imagePath" src="../../../assets/images/dummy-avatar-profile.jpg" />
          </a>

          <span class="ms-2">
            <span class="user-name h5">{{ currentUser?.userName }}</span>
            <span class="d-block">{{ currentUser?.group?.name }}</span>
          </span>

          <div class="dropdown ms-2">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown"
              aria-expanded="false"></a>

            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item bg-info" routerLink="/dashboard/userProfile">Profile</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/dashboard/userProfile/edit">Edit Profile</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- <app-theme-switch class="m-2"></app-theme-switch> -->

        <span class="mx-3 fs-4 fw-bold"><i class="fa-solid fa-bell"></i></span>
      </div>




    </div>
  </div>
</section>