#navbar{
    background-color: #F8F9FB;
    padding: 1rem 0px;
    .user-Avater{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    img{
        width: 100%;
        border-radius: 50%;
    }
    span{
        color: #1f384c;
    }
}
