
<section id="home">
<div class="col-md-12">
  <mat-drawer-container   class="example-container">
    <mat-drawer  mode="side" opened="true">
      <img src="../../assets/images/nav-icon.png" alt="">
    <ul style="list-style-type: none;">
      <li> <i class="fa-solid fa-house"></i> home</li>
      <li><i class="fa-solid fa-users"></i>Users</li>

      <li>Recipes</li>
      <li>Categories</li>
      <li><i class="fa-solid fa-lock-open"></i>Change Password</li>
      <li><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</li>
    </ul>
      <!-- Welcome Upskilling! -->

      <!-- <p>This is a welcoming screen for the entry of the application , you can now see the options</p> -->
    </mat-drawer>
    <mat-drawer-content class="text" >
      <div class="desc">
        <h3>Welcome Upskilling</h3>
        <p>This is a welcoming screen for the entry of the application , you can now see the options</p>
      </div>

      <div>

        <h3>Fill the Recipes !</h3>
        <p>you can now fill the meals easily using the table and form , click here and sill it with the table !</p>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

  
</section>

