#Resetpassword{
    background-image: url(../../../assets/images/login-bg.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
}

