<section id="Resetpassword">
  <div class="container">
    <div class="col-md-6 mx-auto">
       <div class="card-auth">
        <div class="text-center">
          <img src="../../../assets/images/logo.svg" class="w-50" alt="">
        </div>
          <h2>Reset Password</h2>
          <P>welcome Back!Please enter your details</P>
           <form [formGroup]="ResetForm" (ngSubmit)="onSubmit(ResetForm)">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen"></i></span>
              <input formControlName="email" type="text" class="form-control" placeholder="Enter your E-mail">
              <p *ngIf="ResetForm.get('email')?.errors && ResetForm.get('email')"></p>
            </div>
            <div class="input-group mb-3 position-relative">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
              <input formControlName="seed" type="text" class="form-control" placeholder="OTP">
            <p *ngIf="ResetForm.get('seed')?.getError('required')">
            </p>
            </div>
           
            <div class="position-relative">
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <i class="fa-solid fa-lock"></i
                ></span>
                <input
                  formControlName="password"
                  [type]="hide ? 'password' : 'text'"
                  class="form-control"
                  placeholder="password"
                />
                <span class="input-group-text eye-icon" (click)="hide = !hide">
                  <i class="fa-solid" [class]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
                </span>
              </div>
            </div>
            <div class="position-relative">
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <input
                  formControlName="confirmPassword"
                  [type]="hideConfirm ? 'password' : 'text'"
                  class="form-control"
                  placeholder=" confirm Password"
                />
                <span
                  class="input-group-text eye-icon"
                  (click)="hideConfirm = !hideConfirm"
                >
                  <i
                    class="fa-solid"
                    [class]="hideConfirm ? 'fa-eye-slash' : 'fa-eye'"
                  ></i>
                </span>
              </div>
            </div>
          
            <div class="d-flex justify-content-between my-2">
              <a   class="second-main text-decoration-none">Register Now?</a>
              
            </div>
            <button       cdkFocusInitial   class="btn bg-main text-white w-100" >Reset</button>

         
           </form>
         
       </div>

    </div>
  </div>
</section>