.table{

    --bs-table-bg:none;


    thead tr {
        background-color: #E2E5EB ;
        color: #3A3A3D;
        border-radius: 15px;

    }
   
    .dropdown-toggle::after{
        display: none;
    }
}