<section class="d-flex p-5 align-items-center justify-content-center">
  <div>
    <div class="text-center">
      <img class="w-50" src="../../../assets/images/logo.svg" />
    </div>
    <h2>Change Your Password</h2>
    <p>Enter your details below</p>

    <form
      [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit(changePasswordForm)"
    >
      <div class="position-relative">
        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="fa-solid fa-lock"></i
          ></span>
          <input
            formControlName="oldPassword"
            [type]="hide ? 'password' : 'text'"
            class="form-control"
            placeholder="Old Password"
          />
          <span class="input-group-text eye-icon" (click)="hide = !hide">
            <i class="fa-solid" [class]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
        </div>
      </div>

      <div class="position-relative">
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
          <input
            formControlName="newPassword"
            [type]="hideConfirm ? 'password' : 'text'"
            class="form-control"
            placeholder="New Password"
          />
          <span
            class="input-group-text eye-icon"
            (click)="hideConfirm = !hideConfirm"
          >
            <i
              class="fa-solid"
              [class]="hideConfirm ? 'fa-eye-slash' : 'fa-eye'"
            ></i>
          </span>
        </div>
      </div>

      <div class="input-group mb-3 position-relative">
        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>

        <input
          formControlName="confirmNewPassword"
          [type]="hideConfirm ? 'password' : 'text'"
          class="form-control"
          placeholder="Confirm New Password"
        />
        <span
          class="input-group-text eye-icon"
          (click)="hideConfirm = !hideConfirm"
        >
          <i
            class="fa-solid"
            [class]="hideConfirm ? 'fa-eye-slash' : 'fa-eye'"
          ></i>
        </span>
      </div>

      <div class="py-2">
        <button cdkFocusInitial class="btn text-white py-3 primary w-100">
          Change Password
        </button>
      </div>
    </form>
  </div>
</section>