<section id="change">
  <div class="container">
    <div class="row">

    <div class="col-md-10 mx-auto">
     
       <div class="card-auth">
        <div class="text-center">
          <img src="../../../assets/images/logo.svg" class="w-100" alt="">
       
        </div>
          <h3>Change Your Password</h3>
          <P>Enter your details below</P>
       
           <form  (ngSubmit)="onSubmit(changepassword)">
           
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
              <input formControlName="OldPassword" [type]="hide==true?'password':'text'"  type="password" class="form-control" placeholder="OldPassword"
              aria-label="password" aria-describedby="basic-addon1">
              <div *ngIf="changepassword.controls.OldPassword.errors&&changepassword.controls.OldPassword.touched"></div>
              <span class="eye-icon" (click)="hide=!hide"><i class="fa-solid " [class]="hide==true?'fa-eye-slash':'fa-eye'"></i></span>                       

            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
              <input formControlName="NewPassword" type="password" [type]="hide==true?'password':'text'"  class="form-control" placeholder="NewPassword"
              aria-label="password" aria-describedby="basic-addon1">
              <div *ngIf="changepassword.controls.NewPassword.errors&&changepassword.controls.NewPassword.touched"></div>
              <span class="eye-icon" (click)="hide=!hide"><i class="fa-solid " [class]="hide==true?'fa-eye-slash':'fa-eye'"></i></span>                       

            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
              <input formControlName="confirmNewPassword" [type]="hide==true?'password':'text'"  type="password" class="form-control" placeholder="confirmNewPassword"
              aria-label="password" aria-describedby="basic-addon1">
              <div *ngIf="changepassword.controls.confirmNewPassword.errors&&changepassword.controls.confirmNewPassword.touched"></div>
              <span class="eye-icon" (click)="hide=!hide"><i class="fa-solid " [class]="hide==true?'fa-eye-slash':'fa-eye'"></i></span>                       

            </div>
          
           
            <button  class="btn bg-main text-white w-100" >Change Password</button>
         
           </form>
         
       </div>

    </div>
  </div>

  </div>
</section>