<div class="auth-card p-5">
<h2>Request Reset Password</h2>
<p>please Enter your Email and Check Your Inbox</p>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope"></i></span>
  <input [(ngModel)]="email" type="text" class="form-control" placeholder="Enter your E-mail" aria-describedby="basic-addon1">
</div>
<div class="text-end">
  <a (click)="onClose()" routerLink="auth/ResetPassword"   class="second-main text-decoration-none">Have code?</a>

</div>
<button [mat-dialog-close]="email" cdkFocusInitial class="btn bg-main text-white w-100" >Send</button>

</div>