<section id="register">
  <div class="container">
    <div class="row">

    <div class="col-md-10 mx-auto">
       <div class="card-auth">
        <div class="text-center">
          <!-- <img src="../../../assets/images/logo.svg" class="w-50" alt=""> -->
        </div>
          <h2 class="h5">Edit Profile</h2>
          <P>welcome Back!Please enter your details</P>
           <form [formGroup]="editProfile " (ngSubmit)="onSubmit(editProfile)">

            <div  class="row">
              <div  class="col-md-6 d-flex">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-user"></i></span>
                  <input  formControlName="userName"  type="text" class="form-control" placeholder="Enter your userName"      
                  aria-label="Enter your userName"  aria-describedby="basic-addon1">

                </div>

              </div>
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen"></i></span>
                  <input formControlName="email" type="text" class="form-control" placeholder="Enter your E-mail"
                  aria-label="Enter your Email" aria-describedby="basic-addon1">
                 

                </div>
                
              </div>
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-flag"></i></span>
                  <input formControlName="country" type="text" class="form-control" placeholder="country"
                  aria-label="country" aria-describedby="basic-addon1">
                 

                </div>
               
              </div>
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                  <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Phone Number"
                 
                  aria-label="phoneNumber" aria-describedby="basic-addon1">
                 

                </div>
               
              </div>
            
            
              <div class="col-md-6">
                <div class="position-relative">
                  <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                    <input
                      formControlName="confirmPassword"
                      [type]="hideConfirm ? 'password' : 'text'"
                      class="form-control"
                      placeholder="New Password"
                    />
                    <span
                      class="input-group-text eye-icon"
                      (click)="hideConfirm = !hideConfirm"
                    >
                      <i
                        class="fa-solid"
                        [class]="hideConfirm ? 'fa-eye-slash' : 'fa-eye'"
                      ></i>
                    </span>
                  </div>
                </div>
         
              </div>
              <div class="col-md-12 text-center">
                <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
                  <ngx-dropzone-label *ngIf="!imgSrc">
                    <i class="fa-solid fa-arrow-up-from-bracket d-block "></i>
                    Drag & Drop or <span class="text-main">choose  a Item Image </span>to Upload</ngx-dropzone-label>
                  
                  <ngx-dropzone-label *ngIf="imgSrc">
                    <img [src]="imgSrc" class="w-25" alt="">
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                    </ngx-dropzone-image-preview>  
                </ngx-dropzone>
              </div>
            </div>
        
           
          
           
            <button    class="btn bg-main text-white w-100" >save</button>
         
           </form>
         
       </div>

    </div>
  </div>

  </div>
</section>